.content-container{
    display: flex;
    width: 100%;
    height: 100%;
	/* margin-top: 7%; */
}

.content{
    width: 85%;
    height: 100%;
	display: flex;
    flex-direction: column;
	padding: 0% 5% 0% 5%;
}

.title{
    margin-top: 77px;
    font-size: 2.5em;
    font-weight: 600;
    color: black;
}

.table{
    margin-bottom: 77px;
    overflow-y: auto;
    height: 55%;
    table-layout: fixed;
}

.table th{
    position: sticky;
    top: 0;
    background-color: white;
    width: 20%;
}

/* .table td{
    width: 15%;
} */

.edit-button{
    display: flex;
    justify-content: space-between;
}

.edit-button2{
    text-align: right;
}

.form-button{
    background: none;
    border: none;
    cursor: pointer;
}

.form-button2{
    cursor: pointer;
    margin: 0px;
}

.fa-trash-alt{
    color: red;
}


.formbttn{
    width: 50px;
}

.columnbttn{
    display: flex;
}