.content-container{
    display: flex;
    width: 100%;
    height: 93%;
	/* margin-top: 7%; */
}

.content{
    width: 85%;
    height: 100%;
	display: flex;
    flex-direction: column;
}

.container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
    width: 100%;
    height: 100%;
}

.profile2{
  background-color:whitesmoke;
  width:500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 2em 2em 2em 2em;
}

.profileContent{
	padding:30px 30px 30px 30px;
}


.address{
   background-color: whitesmoke;
  width:500px;
  display: flex;
  justify-content: center;
  border-radius: 2em 2em 2em 2em;
  
}

.addressContent{
	padding:0px 30px 30px 30px;
    width: 100%;
}

.payment{
background-color: whitesmoke;
  width:500px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
 border-radius: 2em 2em 2em 2em;
}

.paymentContent{
	padding:0px 30px 50px 30px;
    width: 100%;
}

.rightbox{
	width: 500px;
	height: auto;
}

.rightboxcontent{
    height: 100%;
    display: flex;
    flex-direction:column;
	flex-wrap:wrap;
}

.button{
    border-radius: 0.5em;
    background-color: #cfd9dd;
    border-color: #cfd9dd;
    padding: 3px 6px;
    cursor: pointer;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #cfd9dd;
    width: 80%;
    transition: 0.05s;
  outline: none;
  }

  input[type=text]:focus {
    border-bottom: 1px solid #cfd9dd;
  }

  input[type=date] {
    border: none;
    border-bottom: 1px solid #cfd9dd;
    width: 80%;
    transition: 0.05s;
  outline: none;
  }

.line{
    width: 500px;
    height: 0px;
    border-top: 1px solid #b8cad1;
    position: absolute;
    margin-top: 65px;
    
}